.nav-auth {
  margin: -3px 1px 0 0;
}

.nav-auth__list {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.nav-auth__link {
  width: 76px;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

.nav-auth__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.nav-auth__link_type_signup {
  color: #fff;
}

.nav-auth__link_type_signin {
  padding: 8px 20px;
  border-radius: 3px;
  color: #000;
  background-color: #3ddc84;
}

@media screen and (max-width: 540px) {
  .nav-auth__link {
    font-weight: 500;
    font-size: 10px;
  }

  .nav-auth__list {
    gap: 14px;
  }

  .nav-auth__link_type_signin {
    padding: 7px 12px;
  }
}
